[submodule ".config/ghostty"]
	path = .config/ghostty
	url = https://github.com/lukeb06/ghostty
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/lukeb06/nvim
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/lukeb06/tmux
[submodule ".config/kitty"]
	path = .config/kitty
	url = https://github.com/lukeb06/kitty
